<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE web-app>
<web-app version="3.0" metadata-complete="true" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>com.github.eipai.codemo.webapp.HelloworldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/helloworld.htm</url-pattern>
    </servlet-mapping>
</web-app>
